<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.crm.workbench.mapper.ClueMapper">





    <select id="queryAllClue" resultType="map">
       select c.*,u.name uname from tbl_clue c
        left join tbl_user u on c.owner = u.id
       <where>
           <if test="fullname !=null and fullname !=''">
               c.fullname like concat('%',#{fullname},'%')
           </if>

           <if test="appellation !=null and appellation !=''">
               and u.name like concat('%',#{owner},'%')
           </if>

           <if test="phone !=null and phone !=''">
               and  c.phone like concat('%',#{phone},'%')
           </if>

           <if test="mphone !=null and mphone !=''">
               and  c.mphone like concat('%',#{mphone},'%')
           </if>
           <if test="source !=null and source !=''">
               and  c.source like concat('%',#{source},'%')
           </if>
           <if test="owner !=null and owner !=''">
               and u.name like concat('%',#{owner},'%')
           </if>
           <if test="state !=null and state !=''">
               and  c.state like concat('%',#{state},'%')
           </if>
       </where>
   </select>

    <select id="queryClueEcharts" resultType="map">
select count(*) value,source name from tbl_clue group by source
    </select>
</mapper>